*{
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}



/*shared styles*/
.display-flex{
  display: flex;
}

.text-primary{
color: #FF900E;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

/*dark 02*/
.color-gray:{
color: #424242
}
/*dark03*/
.color-light-gray{
color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  
}
main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top:130px ;
}
/*header styles*.



/*navbar styles*/
.navbar{
 justify-content: space-around;
 align-items: center;
}
.brand{
  font-weight: 700;
  font-size:3rem ;
}
.nav-item{
list-style: none;
margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}


/*banner related styles*/
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}


.banner-title{
  font-weight:700px ;
  font-size: 4rem;
  padding-top: 100px;
  padding-bottom: 30px;
}
.banner-description{
  font-size:16px ;
  font-weight:400 ;
  padding-bottom: 30px;
}
.banner-image{
  width: 100%;
}
/*team and features related styles*/
.teams{
  align-items: center;
}


.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  margin-left: 130px;
  max-width:530px ;
}
.feature-description{
  padding-top: 20px;
  padding-bottom: 20px;
}      



#quick-list{
  font-weight: 500;
}

@media screen and (max-width:576px) {
  .navbar, 
  .nav-link, 
  .teams{
    flex-direction: column;
  }
  .team-image-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    margin-left: 20px;
  }
}

/*medium size device*/
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
flex-direction: column}
.our-features{
  margin: 50px auto;
}
}